@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Mulish:ital@1&family=Source+Sans+3:wght@400;600;700&display=swap");

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

.signup-container {
  display: flex;
  background-color: #f8faff;
  min-height: 100vh;
}

.left-section {
  background-color: #605bff;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 20px;
  position: relative;
  overflow: hidden;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 65%); */
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
}

.company-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80%;
  margin-bottom: 50px;
}

.company-name {
  font-size: 4rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.company-logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  position: absolute;
  bottom: 50px;
}

.social-icons i {
  font-size: 30px;
  margin: 0 10px;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-header {
  text-align: left;
  margin-right: 250px;
}

.header {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0;
  /* text-align: left; */
}

.subheader {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.sign-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.google-signin,
.apple-signin {
  padding: 7px 25px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.google-signin {
  padding: 0;
  background-color: #fff;
  color: #858585;
  margin-right: 20px;
  border: none;
}

.apple-signin {
  background-color: #fff;
  color: #858585;
  border: none;
}

.signin-icons {
  margin-right: 10px;
}

.signup-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.signup-form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.input-label {
  font-size: 0.9375rem;
  margin-bottom: 5px;
}

.signin-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #605bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.signin-button:hover {
  background-color: #605bff;
}

.signup-link {
  text-align: center;
}

.forgot-password {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #286de0;
}

.navbar-mobile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #605bff;
  color: white;
  width: 100%;
  height: 80px;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  width: 82px;
  height: 62px;
  margin-right: 10px;
}

.navbar-text {
  font-size: 2rem;
  font-weight: bold;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 2rem;
}

.social-media-icons i {
  font-size: 40px;
  margin: 0 10px;
  color: #858585;
}

@media (min-width: 769px) {
  .navbar-mobile {
    display: none;
  }
  .social-media-icons {
    display: none;
  }
}

@media (max-width: 768px) {
  .left-section {
    display: none;
  }
  .signup-container {
    flex-direction: column;
  }

  .right-section {
    margin: 20px;
  }

  .header {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #000;
  }

  .subheader {
    font-size: 12px;
    color: #000;
    font-weight: 400;
  }

  .google-signin,
  .apple-signin {
    width: 50%;
  }

  .signup-form {
    width: 100%;
  }

  .signup-form input {
    width: calc(100% - 16px);
  }

  .input-label {
    font-size: 0.875rem;
  }

  .signin-button {
    font-size: 0.9375rem;
  }

  .signup-link {
    margin-top: 20px;
  }

  .signup-link > a {
    display: block;
    margin-top: 20px;
  }
}
